{% extends "app/main.html" %}
{% block title %}Class SS2{% endblock %}
{% load static %}
{% block bodyleft %}
 
{% endblock %}
{% block body %}
    <div class="row g-0">
            <div class="container">
                <div class="card p-5">

                    <div class="card-top">
                        <p class="fs-2 font-bold">{{ products.name}}</p>
                    </div>
                  
                    <div class="card-body">
                        <div class="img">
                            <p>
                                header
                            </p>
                            <p>
                                {% comment %} {{ image}} {% endcomment %}
                            </p>
                            {% comment %} <img src= "{{ HTTP_HOST }}/      {{ products.img}}" alt="imghere " class="img-fluid"> {% endcomment %}
                        </div>
                        <p class="  font-bold">
                            Description
                        </p>
                        <p>
                            {% comment %} {{ products.code }} {% endcomment %}
                        </p>
                         <p>
                            {% comment %} {{ products.des }} {% endcomment %}
                         </p>

                    </div>
                </div>
               
            </div>
    </div>
{% endblock %}