
<div class="top d-flex justify-content-between" >
    <div class="home-title fs-4 f   " style="font-weight:500">
       NEW ARRIVAL
    </div>


    <div class="category-here" >
    
      
        <div class="cate-item d-flex mx-3">
        

        </div>
        <div class="d-flex" >
            {% if request.GET.gid is None %}
            {% comment %} listpro/product {% endcomment %}
            <a href="/#target" 
            class="list-group-item list-group-item-action active"
            
            style="font-weight:400;color:#144194;border-bottom:2px solid #144194;"
            
            
            >
              All </a>
              {% else %}
              <a href="/#target" 
              class="list-group-item list-group-item-action active"
              
              style="font-weight:400;color:grey"
              
              
              >
                All </a>
              {% endif %}
            {% for cat in categories %}

            {% if cat.CATID == NONE %}
            
            <div class="cate-item d-flex mx-3">
            
                {% if request.GET.gid == cat.id|stringformat:"i" %}

                <a href="/?gid={{cat.id}}#target" 
                class="list-group-item list-group-item-action "
                
                style="font-weight:400;color:#144194;border-bottom:2px solid #144194;"
                
                
                >
                   {{ cat}}</a>
                {% else %}
                    <a href="/?gid={{cat.id}}#target" 
                class="list-group-item list-group-item-action active"
                
                style="font-weight:400;color:grey"
                
                
                >
                   {{ cat}}</a>
                {% endif %}
            
               
            </div>
           {% endif %}
           {% if cat.CATID %}

            <div class="cate-item d-flex mx-3" id = "newarrival">
                 {% if request.GET.gid == cat.id|stringformat:"i" %}
                <a href="/?gid={{cat.id}}#target" 
                style="font-weight:400;color:#144194;border-bottom:2px solid #144194;"
                class="list-group-item list-group-item-action active text-primary">
                  {{cat}}</a>
                  {% else %}
                  <a href="/?gid={{cat.id}}#target" 
                  style="font-weight:400;color:grey"
                 class="list-group-item list-group-item-action active">
                   {{cat}}</a>

                  {% endif %}
            </div>
            {% endif %}
            {% endfor %}
      
        </div>
    </div>


</div>  


<hr style= "color:grey">
{% comment %} 
<ul class="list-group list-group-flush">
    {% for cat in categories %}
    <li class="list-group-item">
        {% if cat.CATID == NONE %}
            <a href="listpro?gid={{cat.id}}">{{ cat }}</a>
        {% endif %}
        {% if cat.CATID %}
            <a href="listpro?gid={{cat.id}}">{{ cat }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>    {% endcomment %}