{% extends "app/main.html" %}
{% block title %}Class SS2{% endblock %}
{% block body %}
    {% load static %}
    <p>Today is {{today}}</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                {% for code in codes %}
                    <li class="list-group-item">
                        <img src="{% static 'img/10.jpg' %}" alt="My image"
                         class="img-fluid"
                         
                         ><br />
                        {{code}}
                        <div class="d-flex gap-2 justify-content-center py-5">
                            <button class="btn btn-primary rounded-pill px-3" type="button">Upload</button>
                            <button class="btn btn-secondary rounded-pill px-3" type="button">Download</button>
                            <button class="btn btn-success rounded-pill px-3" type="button">Send</button>
                            <button class="btn btn-danger rounded-pill px-3" type="button">Share</button>
                            <button class="btn btn-warning rounded-pill px-3" type="button">Remove</button>
                            <button class="btn btn-info rounded-pill px-3" type="button">Change</button>
                            <button class="btn btn-light rounded-pill px-3" type="button">Small</button>
                            <button class="btn btn-dark rounded-pill px-3" type="button">Resize</button>
                        </div>
                    </li>
                {% endfor %}
        </ul>
            </div>

    </div>
 
{% endblock %}