{% load static %}
<html>
   <head>{% include 'app/layout/header.html' %}</head>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
 
   <body>

    {% comment %} top bar and slider here  {% endcomment %}
    <div class="container">
        {% include 'app/layout/menu.html' %}


        {% include 'app/layout/slider.html' %}

        {% comment %} popular brand here  {% endcomment %}

 
    </div>
    {% comment %} popular brand here  {% endcomment %}
    <div class="container-fluid mb-5 " style = "background-color:#f0f8ff" id="target"> 
      <div class="container p-3 mb-5 ">
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 mb-3">
            <div class="home-title fs-4 fw-bold text-center" style="font-weight:400">
                POPULAR BRANDS
            </div>
       
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="https://t3.ftcdn.net/jpg/04/44/95/70/360_F_444957056_Gz4m48tyh5j89hNyuc5CsLvPNyiMWNvy.jpg"
                
                class="img-fluid" style="mix-blend-mode: multiply;object-fit:cover"  alt="logo">
            </div>
            <div class="col-lg-6">
                <img src="https://t4.ftcdn.net/jpg/05/21/25/05/360_F_521250554_MeGvUb2Bk6JKDSREMwf62XoHXT6QwMpE.jpg"
                
                class="img-fluid" style="mix-blend-mode: multiply;object-fit:cover"  alt="logo">

            </div>
         
            
         
        </div>
        {% comment %} <div class="row g-3 mb-3">
            <div class="col-lg-2">
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Samsung_Logo.svg/1280px-Samsung_Logo.svg.png" class="d-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/625px-Apple_logo_black.svg.png" 

                    class="rounded d-block img-fluid w-25" alt="Image">
                </a>
            
            </div>
            <div class="col-lg-2">
                <a href="" class="d-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Samsung_Logo.svg/1280px-Samsung_Logo.svg.png" 

                    class="rounded d-block img-fluid w-25" alt="Image">
                </a>
            
            </div>
            <div class="col-lg-2">
                <a href="" class="d-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/625px-Apple_logo_black.svg.png" 

                    class="rounded d-block img-fluid w-25" alt="Image">
                </a>
            
            </div>
            <div class="col-lg-2">
                <a href="" class="d-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/625px-Apple_logo_black.svg.png" 

                    class="rounded d-block img-fluid w-25" alt="Image">
                </a>
            
            </div>
            <div class="col-lg-2">
                <a href="" class="d-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/625px-Apple_logo_black.svg.png" 

                    class="rounded d-block img-fluid w-25" alt="Image">
                </a>
            
            </div>
            <div class="col-lg-2">
                <a href="" class="d-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/625px-Apple_logo_black.svg.png" 

                    class="rounded d-block img-fluid w-25" alt="Image">
                </a>
            
            </div>
       
            
        </div> {% endcomment %}
      </div>
      
  
 
    </div>
  {% comment %} All produccts here {% endcomment %}
  <div class="container" >
    {% block bodyleft %} {% endblock %}
    {% block body %} {% endblock %}
  </div>


  
      {% include 'app/layout/footer.html' %}

    </body>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>