{% extends "app/layout/detail.html" %}
{% block title %}Class SS2{% endblock %}
{% load static %}

{% block bodydetail %}

 
    <div class="container d-flex justify-content-center" style="margin-top:200px;">
        <h2 class= "text-success text-uppercase fw-bold">Thanks you for your order</h2>
     
    </div>
    <p class="lead mb-5 text-center" style = "color:grey">
      Your order detail has been submitted, please check your telegram for more information
    </p>

    <p  style="margin-bottom:300px">

    </p>
   
{% endblock %}


