{%extends 'base.html'%}

     {%include "challenge/include/header.html" %}   
    {% block content %}
    <ul>
        {%for mon in month %}
            
         <li class="item" style="margin-top:15px">
            <a href={% url "month_challenge" mon%}>   {{mon | title}}</a>
        
         </li>
        {%endfor%}
    </ul>
    {% endblock %}

