{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color:#f0f8ff">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
 
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="" >
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase mb-4 text-dark">
           About Us
            </h6>
            <p>
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem tenetur, dolores provident temporibus illo vero rerum iusto, voluptatum
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4 text-dark">
           Categories
            </h6>
            <div class="row">
              {% for cat in categories %}
              <div class="col-lg-6">
                <p>
                  <a href="listpro?gid={{cat.id}}#target" 
                    class="list-group-item list-group-item-action "
                    
                    style="font-weight:600;color:#144194"
                    
                    
                    > 
                  {{ cat }}
                  </a>
                </p>
              </div>
   
    
          
            {% endfor %}
          </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4 text-dark">
            Menu
            </h6>
            <p>
              <a href="/" class="list-group-item list-group-item-action ">Home</a>
            </p>
            <p>
              <a href="/listpro/product"  class="list-group-item list-group-item-action ">Product</a>
            </p>
           
       
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4 text-dark">CONTACT ME</h6>
            <p>ToulTompong 2 Phnom Penh</p>
            <p>
        
              Nightpp19@gmail.com
            </p>
      + 855 96 568 9895</p>
         + 855 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Panhavorn:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>