<div class="container-fluid sticky">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 fixed-top">
    <a class="navbar-brand fw-bold" href="#">  
      
      <img src="{{ HTTP_HOST }}/static/img/uploads/logoicon-removebg-preview.png" alt="image"
      
      style="width:100%;height:50px;object-fit:cover;background-blend-mode: multiply;"
      >
</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent "
    >
      {% comment %} left {% endcomment %}
      <ul class="navbar-nav mr-auto mx-5">
        <li class="nav-item">
          {% if active == True  %}
          <a class="nav-link " href="/"
            >Home <span class="sr-only"></span
          ></a>
          {% else %}

          <a class="nav-link active fw-bold" href="/"
          >Home <span class="sr-only"></span
        ></a>

          {% endif %}
        </li>
        <li class="nav-item">
          {% if active == True  %}
          <a class="nav-link active fw-bold"  href="/listpro/product">Products</a>
          {% else %}
          <a class="nav-link "  href="/listpro/product">Products</a>
          {% endif %}
        </li>

        <li class="nav-item"></li>
      </ul>
      
      <form class="form-group d-flex">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary my-2 my-sm-0 mx-2" type="submit">
          Search
        </button>
      </form>
      <div
        class="col-lg-3 col-md-4 mb-3 d-flex align-items-center justify-content-center justify-content-md-end" >
        <div class="wish-item d-flex align-items-center">
            <div class="icon-user d-flex ">
                <div class="fs-3">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                    viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                </div>
               
                <a class="nav-link mx-2" href="#">Cart</a>
              </div>
          <div class="icon-user d-flex mx-3">
         <i class="fa fa-solid fa-heart fs-3"></i>
            <a class="nav-link mx-2" href="#">Wish List</a>
          </div>
          <div class="icon-user d-flex mx-2">
           
            <button class="btn btn-sm btn-primary">Sign Up</button>
          </div>
        </div>
      </div>

    </div>

  </nav>
</div>
