<div class="filters my-border py-3 px-5 d-none d-lg-block border">
 
          <h5 class="text-uppercase mb-4 text-dark">
         Categories
          </h5>

            {% for cat in categories %}
   
              <p>
                <a href="/listpro/product?gid={{cat.id}}#target" 
                  class="list-group-item list-group-item-action "
                  
                  style="font-weight:600;color:#144194"
                  
                  
                  > 
                {{ cat }}
                </a>
              </p>
   
 
  
        
          {% endfor %}
 


  <hr class="my-3" />


  <style>
    .widget-list-item a.is-checked {
      border-color: #144194;
      border-width: 3px !important;
    }
  </style>
</div>
