
<div class="container border " style="margin-top:100px;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1500">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 " src="https://www.guidingtech.com/wp-content/uploads/Postermywall-lead-image_4d470f76dc99e18ad75087b1b8410ea9.png"
          style="height:600px;object-fix:cover"
        alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.asus.com/events/eventES/eventspic/516_1900.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.asus.com/events/eventES/eventspic/2279_1900.jpg" alt="Third slide">
      </div>
    </div>
    <ol class="carousel-indicators my-5" style="position:absolute;bottom:-40px">
      <li style="background-color: black;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li   style="background-color: black;"data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li   style="background-color: black;" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
  </div>
  
</div>
