input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 5px;
    border: 0px solid ;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }