body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


div.list-card:not(hover) {
    /* background-color: aliceblue; */
    scale: 1;
    transition: 500ms ease-in-out;
}
div.list-card:hover {
    /* background-color: aliceblue; */
    scale: 1.05;
    transition: 500ms ease-in-out;
     filter: brightness(0.90);
}
/* .carousel-indicators > li {
        background-color: red;
} */