<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %} Title {% endblock %}</title>
</head>
{%block header %} {%endblock%}
<link rel="stylesheet" href="{% static "style.css" %}">
<body>
    {% block content %}{% endblock  %}
</body>
</html>