{% extends "app/main.html" %}
{% block title %}Department{% endblock %}
{% block content %}
    <form method="POST" class="row g-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add Department</button>
        </div>
    </form>
{% endblock %}