{% extends "app/layout/detail.html" %}
{% block title %}Class SS2{% endblock %}
{% load static %}

{% block bodydetail %}



     

    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-4 pt-2">
                    <li class="breadcrumb-item">
                        <a href="/"
                        
                        class="text-decoration-none fs-6" style="color:grey">
                 
                Home > Product 
                        </a>
                    </li>
                           
                 
                            </ol>
                            <h2 style ="color:#144194">
                                All Products
                            </h2>
        
                        </nav>
        </div>
        <div class="col-lg-3 my-4">
            {% include 'app/layout/sidebar-left.html' with categories=categories %}
 
        </div>

        <div class="col-lg-9">
                <div class="row my-3 g-2">

                    {% if products|length == 0%}
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-center">
                            <p class="lead">sorry we couldn't find any related product in stock yet </p>
                        </div>
                    </div>
  

   
        {%else %}


        {% for pp in products %}
   
 
        <div class="col-lg-4 col-md-6 col-sm-12">
       
            <a href="/listpro/prodetail?id={{pp.id}}" class="text-decoration-none text-white">
            <div class="list-card card radius-5 shadow-sm" >
                <div class="content" style=" align-items:space-between;">
                    <div class="header p-5 "  style="height:18em;min-width:100%">
                        {% for image in pp.IMGID.all %}
                     
                        <img src= "{{ HTTP_HOST }}/{{ image.images}}" alt="imghere "
                         class="img-fluid"
                 
                         
                         >
                       
                         {% endfor %}
                      
                    </div>
                    <div class="card-body" style="">
                        <div class="card-head d-flex justify-content-between align-items-center">
                            <div class="card-title fs-6 fw-bold text-dark"

                            style = "height:50px;overflow: hidden;
                            text-overflow: ellipsis;"
                            >
                               {{ pp.name }}
                            </div>
                        
                        </div>
                           
                            <div class="card-bottom d-flex justify-content-between">
                                <div class="price text-danger fs-5 fw-bold">
                               $ {{ pp.PRIID.price }}
                                </div>
                                <div class="card-title fw-bold text-white p-2" 
                                style="background-color:#144194;border-radius:2px">
                                   {{ pp.CATID }}
                                    </div>
                            </div>
                    </div>
                </div>
           
            </div>
          </a>
        </div>
        {% endfor %}
        {% endif %}
                </div>
        </div>
     
      
      
      
  
  
</div>


{% comment %} 
 <div class="row g-0">
    {% for pp in products %}
        <div class="card m-1" style="width: 18rem;">
            <div class="col-md-12 text-center">
                {% include 'app/slider.html/' with imgs=pp.IMGID.all %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ pp.name }}</h5>
                <p class="card-text">{{ pp.CATID }}</p>
                <p class="card-text">{{ pp.PRIID }}</p>
                <p class="card-text">{{ pp.BRAID }}</p>
                <a href="prodetail?id={{pp.id}}" class="btn btn-primary">View Detail</a>
            </div>
        </div>
    {% endfor %}
</div>  {% endcomment %}

 
   
{% endblock %}


