{% extends "app/layout/detail.html" %}
{% block title %}Class SS2{% endblock %}
{% load static %}

{% block bodydetail %}

    <div class="row g-5" style ="margin-bottom:100px">
        {% comment %} image side {% endcomment %}
        {% for pp in product %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4 pt-2">
                <li class="breadcrumb-item">
                    <a href="/listpro/product?gid={{ pp.CATID.id }}#target"
                    
                    class="text-decoration-none fs-6" style="color:grey">
                    <i class="fal"></i>
                    Back
                    </a>
                </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="#"
                            
                            class="text-decoration-none fs-6" style="color:grey">
                    <i class="fal"></i>
                    {{ pp.CATID }}
                    </a>
             
                        </ol>
        </nav>
    
        <div class="col-lg-4">
            <form action="/orderbot?id={{ pp.id }}" method="POST">
            {% for img in pp.IMGID.all%}
            <div class="d-flex justify-content-center my-border img-product border">
                <img src= "{{ HTTP_HOST }}/{{ img.images}}" alt="imgproduct " class="img-fluid">
            </div>
            <div class="order-lg-1 soft-info pb-3 my-4 d-none d-lg-block">
                <div class="card">
                    <div class="card-body p-2">
                        <div class="row row-cols-4 no-gutters">
                                                                    <div class="col">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="icon">
                                            <img src="https://soklyphone.com/storage/screen-1619582045BJ4XK.svg" alt="Screen">
                                        </div>
                                        <h6 class="mt-3 mb-2 font-md">
                                            7.6"</h6>
                                        <small class="text-muted font-size-xs"><div>1812x2176 pixels</div><div><br></div></small>
                                    </div>
                                </div>
                                                                    <div class="col">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="icon">
                                            <img src="https://soklyphone.com/storage/camera-1619582044S5tiY.svg" alt="Camera">
                                        </div>
                                        <h6 class="mt-3 mb-2 font-md">
                                            50MP</h6>
                                        <small class="text-muted font-size-xs"><div>4320p</div><div><br></div></small>
                                    </div>
                                </div>
                                                                    <div class="col">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="icon">
                                            <img src="https://soklyphone.com/storage/ram-1619582044ZW3yZ.svg" alt="RAM">
                                        </div>
                                        <h6 class="mt-3 mb-2 font-md">
                                            12GB RAM</h6>
                                        <small class="text-muted font-size-xs"><div>Snapdragon 8 Gen 2</div><div><br></div></small>
                                    </div>
                                </div>
                                                                    <div class="col">
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <div class="icon">
                                            <img src="https://soklyphone.com/storage/battery-16195820442IoH9.svg" alt="Battery">
                                        </div>
                                        <h6 class="mt-3 mb-2 font-md">
                                            4400mAh</h6>
                                        <small class="text-muted font-size-xs"><div>Li-Po</div><div><br></div></small>
                                    </div>
                                </div>
                                                            </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} detail side  {% endcomment %}
        <div class="col-lg-7">

            <section class="detail ">
                    <div class="top-header mb-4">
                            <h3 class="mb-3">
                                {{ pp.name }}

                            </h3>
                            <h5 class="text-danger mb-3">
                                $         {{ pp.PRIID.price }}
                            </h5>
                            <span  class="text-white my-3" style = "background-color: #144194;padding:10px;margin-top:50px">  
                                Categories:      {{ pp.CATID }}


                            </span>
                    </div>

                    <div class="body-detail mb-3 ">
                     
                        <h6>
                           Stock :     {{ pp.qty }}
                        </h6>
                    </div>

       
                    <div class="bottom">
                        <div class="row mx-n2 py-2">
                            <div class="col-3 col-lg-3 px-2 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-outline-primary" id="decrease-product-qty" >-</button>
                                    </div>
                                    <input type="text" value="0" max-value=""  name = "qtyproduct" class="border-primary form-control text-center font-weight-bold" id="product-qty">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-primary" id="increase-product-qty">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-lg-3 px-2 mb-3">

                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal"
                              
                                
                                >
                                    <i class="fal fa-shopping-cart font-size-lg mr-2"></i>

                                        Order Now
                                    {% comment %} <a  href = "/orderbot?id={{ pp.id }}" class="text-decoration-none text-white">
                                        Order Now


                                    </a> {% endcomment %}
                                 
                                </button>
                            </div>
                       
                            <!-- Modal -->

                                {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Order Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    {{ form }}
                </div>
            </div>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" >

        
                    Order Now


           
         
            
            
            </button>
          </div>
        </div>
      </div>

  
  </div>
          </div>
                          
            </section>
         
        </div>
        {% endfor %}
    </div>

</form>   

   


    {% endblock %}


