
<div class="container mb-5">
 
    
    <div class="row my-3 g-5">
        {% if products|length == 0%}
        <div class="d-flex justify-content-center">
            <p class="lead">sorry we couldn't find any related product in stock yet </p>
        </div>
        {%else %}

        {% for pp in products %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="/listpro/prodetail?id={{pp.id}}" class="text-decoration-none text-white">
            <div class="list-card card radius-5 shadow-sm" >
                <div class="content" style=" align-items:space-between;">
                    <div class="header p-5 "  style="height:18em;min-width:100%">
                        {% for image in pp.IMGID.all %}
                     
                        <img src= "{{ HTTP_HOST }}/{{ image.images}}" alt="imghere "
                         class="img-fluid"
                 
                         
                         >
                       
                         {% endfor %}
                      
                    </div>
                    <div class="card-body" style="">
                        <div class="card-head d-flex justify-content-between align-items-center">
                            <div class="card-title fs-6 fw-bold text-dark"

                            style = "height:50px;overflow: hidden;
                            text-overflow: ellipsis;"
                            >
                               {{ pp.name }}
                            </div>
                        
                        </div>
                           
                            <div class="card-bottom d-flex justify-content-between">
                                <div class="price text-danger fs-5 fw-bold">
                               $ {{ pp.PRIID.price }}
                                </div>
                                <div class="card-title fw-bold text-white p-2" 
                                style="background-color:#144194;border-radius:2px">
                                   {{ pp.CATID }}
                                    </div>
                            </div>
                    </div>
                </div>
           
            </div>
          </a>
        </div>
        {% endfor %}
        {% endif %}
  
  
</div>
</div> 

